:root {
  --terciairo: #eced9f;
  --secundario: #c5ed9f;
  --secundariosuave: #c5ed9f4f;
  --Primario1: #926bb7;
  --primario2: #c79fed;
  --primario3: #d6bcef;
  --primario4: #eadcf8;
  --text-color: #505050;
  --glasslight: rgba(255, 255, 255, 0.4);
  --bg: linear-gradient(
    -120deg,
    var(--primario3) 10%,
    var(--primario2) 50%,
    var(--Primario1) 100%
  );
}
body.dark-mode {
  --bg: #1d1d1d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: var(--text-color);
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--secundario);
  clip-path: circle(15% at 0 0);
  z-index: -1;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--secundario);
  clip-path: circle(12% at 90% 90%);
  z-index: -1;
}
