/* <div className="item-container">
<a href="#" className="item-container__anchor">
  <i className={`fas ${icon} item-container__icon `}></i>
  <span className="item-container__span">sdsd</span>
</a>
</div> */
.item-container {
  position: relative;
  width: 175px;
  height: 52px;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  border: solid var(--glasslight) 0.5px;
  transition: all 0.3s ease-in-out;
}
.item-container:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(243, 243, 243, 0.212), -1px -1px 2px whitesmoke;
}

.item-container::before {
  position: absolute;
  content: "";
  height: 52px;
  width: 20px;
  background: var(--glasslight);
  transform: skew(-60deg);
  left: -70px;
  transition: transform 0.5s ease-in-out;
}
.item-container:hover::before {
  transform: translateX(290px) skew(-60deg);
}

.item-container__anchor {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: flex-start;
}
.item-container__icon {
  font-size: 32px;
  color: var(--primario2);
  margin: 0 10px;
}
.item-container__span {
  font-size: 20px;
}
